AURA_NEO4J_URI=neo4j+s://<your-aura-id>.databases.neo4j.io
AURA_NEO4J_USER=neo4j
AURA_NEO4J_PASSWORD=<your-password>
AURA_NEO4J_DATABASE=neo4j
GRAPH_LOGGING_ENABLED=1
GRAPH_LOG_FILE=simulation/trace.ndjson
# RELAY_WATCH=1

