[submodule "third-party/rocksdb"]
	path = third-party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third-party/crc32c"]
	path = third-party/crc32c
	url = https://github.com/google/crc32c
[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/libraptorq"]
	path = third-party/libraptorq
	url = https://github.com/ton-blockchain/libRaptorQ
[submodule "third-party/blst"]
	path = third-party/blst
	url = https://github.com/supranational/blst.git
[submodule "third-party/secp256k1"]
	path = third-party/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	branch = v0.3.2
