name: Emscripten TON build (wasm)

on: [push, pull_request, workflow_dispatch, workflow_call]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Check out repository
      uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    - name: Install system libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake ninja-build libjemalloc-dev
        mkdir -p 3pp_emscripten

    - name: Install clang-21
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21 clang

    - name: Cache 3pp Emscripten
      id: cache-3pp-emscripten
      uses: actions/cache@v4
      with:
        path: 3pp_emscripten
        key: ${{ runner.os }}-${{ runner.arch }}-ubuntu-22.04-3pp_em-${{ hashFiles('**/assembly/wasm/fift-func-wasm-build-ubuntu.sh') }}

    - name: Build TON WASM artifacts
      run: |
        git submodule sync --recursive
        git submodule update
        cp assembly/wasm/fift-func-wasm-build-ubuntu.sh .
        chmod +x fift-func-wasm-build-ubuntu.sh
        ./fift-func-wasm-build-ubuntu.sh -a

    - name: Upload artifacts
      uses: actions/upload-artifact@master
      with:
        name: ton-wasm
        path: artifacts
